body {
  text-align: center;
}

#ball {
  background-image: url(../images/magic8ball_top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 500px;
  color: purple;
}

#bottom {
  background-image: url(../images/magic8ball_bottom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 500px;
  color: purple;
}

#header {
  padding-top: 360px;
}

#push {
  padding-top: 75px;
}
