body {
  font-family: 'Special Elite', cursive;
  margin: 0 auto;
  max-width: 80%;
}

header {
  background-color: #E61614;
  height: 80px;
  position: static;
}

h1 {
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-top: 30px;
}

h2 {
  margin-bottom: 60px;
  margin-top: 80px;
  font-size: 32px;
}

h3 {
  font-size: 28px;
  margin-bottom: 60px;
}

li {
  display: inline-block;
}

a {
  text-decoration: underline;
  color: black;
  padding: 5px;
}

div {
  color: white;
  margin-top: 40px;
  margin-bottom: 80px;
}

footer {
  background-color: #E61614;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}

p {
  font-size: 22px;
}

.bg-pic {
  background-image: url(../images/usmc-sm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  z-index: -2;
  margin: 0;
  width: 100%;
}

.bg-shade {
  background-color: rgba(22, 26, 51, .6);
  z-index: -1;
  margin: 0;
}

.whereto {
  float: right;
  max-width: 330px;
  text-align: center;
  line-height: 30px;
}

.container {
  clear: both;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.oorah {
  color: white;
}
